name: build
on:
    push:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: endersonmenezes/free-disk-space@v3
            with:
                remove_android: true
                remove_dotnet: true
                remove_haskell: true
                remove_tool_cache: true
                remove_swap: true
                remove_packages: 'azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*'
                remove_packages_one_command: true
                remove_folders: '/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle'
          - uses: actions/checkout@v4
          - uses: cachix/install-nix-action@v31
            with:
                nix_path: nixpkgs=channel:nixos-unstable-small
          - uses: cachix/cachix-action@v16
            with:
                name: luogu-judge
                authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          - run: nix flake show --json | jq '.packages."x86_64-linux"|keys[]' | xargs -I {} nix build .#{}
